.cat-card > .card-content {
  padding: 0px 6px 0px 6px !important;
}
.select-md {
  background: #fff;
  height: 38px;
  padding: 10px 6px 6px 2px !important;
}
ion-select{
  max-width:100% !important;
}
.padding-wing{
  padding: 0 18px ;
}
.alert-button-group{
 direction: ltr;
}
