.list-md {
  margin: -1px 0 1px 0;
}
.back-search{
  background:#fff !important;
  box-shadow: 0px 2px 1px #6b6b6b !important;
  padding:10px !important ;
}
.border-light{
  border-top:1px solid #ffffff !important;
}
.form-control{
  height: 4rem;
}
.list-group{
  padding:0;
  margin:0 !important;
}
.main-font {
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 1.6rem !important;
  margin-right: 10px !important;
  padding: 4px;
}
.text-red{
  color: darkred;
}
